<!DOCTYPE html>
<html lang="en-us" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body>
    <div class="main-content">
      <h1>404: {{msg}}</h1>
    </div>

    {{>footer}}
  </body>
</html>
